/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500;700&family=The+Nautigal:wght@700&display=swap");

body {
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "The Nautigal", cursive;
}
.carousel img {
  object-fit: cover;
  height: 80vh;
}
/* our package css  */
.Package {
  border-radius: 26px;
}
.Package ul > li,
.Package p {
  list-style-type: none;
  color: #848199;
}
.Package svg {
  color: #5243c2;
  background-color: #5243c217;
}
.Package button {
  background-color: #f496d21a;
}
/* hot mark package css  */
.hot-Package {
  color: white;
  background-color: #3f87f5;
  top: -30px;
}
.hot-Package svg {
  color: white;
}
.hot-Package p,
.hot-Package ul > li {
  color: white;
}
.hot-Package button {
  background-color: white;
}
/* footer css  */
footer {
  color: #d9dbe1;
  background-color: #0b0d17;
}
